/* CARDS COMO PPT */
.fondo-oscuro-gauss {
  background-image: url("../img/index/patron-am3-final.jpg");
  background-repeat: repeat;
  background-size: 700px 700px;
}

/* FIN CARDS COMO PPT */

.ultra-wide-container {
  width: 100%;
  padding-top: 40%; /* Esto da una relación de aspecto 21:9 */
  position: relative;
  overflow: hidden;
}

.ultra-wide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background-image: url("../img/index/patron-am2-final.jpg");
  background-repeat: repeat;
}

.card {
  background-color: #000;
  border: 1px  hwb(0 100% 0%);
}

.alinear-items{
  align-items: center;
}

#carouselMedbot {
  width: 12rem;
  height: 100%;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
}

#columnas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#columnas > * {
  flex: 1 1 calc(50% - 1rem); /* 2 columnas */
  margin: 0.5rem;
}

#presentacion {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 70vh; /* Full height of the viewport */
  overflow-y: auto;
  background-image: url("../img/index/patron-am-final.jpg");
  background-repeat: repeat;
}

.bg-acercade {
  background-color: #5b046e;
  color: #ffffff;
  font-size: small;
}

.perfil{
  min-width: 65%;
  max-width: 70%;
}

#columnas-cv1{
  background-color: transparent;
}

.job-title {
  font-weight: bold;
  margin-top: 0.5em;
  color: #2980b9;
}
.company-name {
  font-weight: bold;
  color: #e67e22;
}
.responsibilities {
  margin-left: 20px;
}

.institution {
  font-weight: bold;
  color: #e67e22;
}
.degree {
  font-weight: bold;
  margin-top: 0.5em;
  color: #2980b9;
}
.education-details {
  margin-left: 20px;
}

.skill-category {
  font-weight: bold;
  color: #2980b9;
}

.skills-list {
  margin-left: 20px;
  list-style-type: none;
  padding: 0;
}

.hobbies-list {
  margin-left: 20px;
  list-style-type: none;
  padding: 0;
}

#columnas-cv2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#columnas-cv2 > * {
  flex: 1 1 calc(50% - 1rem); /* 2 columnas */
  margin: 0.5rem;
}

/* Estilos para pantallas medianas y pequeñas (1 columna) */
@media (max-width: 1080px) {
  #columnas-cv2 {
    width:fit-content;
    flex-basis: 1 1 100%;
    flex-basis: 100%;
    min-width: 300px; /* Ajusta el tamaño mínimo según tus necesidades */
    max-width: 650px; /* Ajusta el tamaño máximo según tus necesidades */
  }
}


@media (max-width: 765px) {
  #columnas > * {
    flex: 1 1 100%; /* 1 columna */
  }

  #card-botones {
    width:fit-content;
    flex-basis: 1 1 100%;
  }

  #columnas-cv1 {
    flex-basis: 100%;
    min-width: 250px; /* Ajusta el tamaño mínimo según tus necesidades */
    max-width: 650px; /* Ajusta el tamaño máximo según tus necesidades */
  }

  #columnas-cv2 {
    width:fit-content;
    flex-basis: 1 1 100%;
    flex-basis: 100%;
    min-width: 330px; /* Ajusta el tamaño mínimo según tus necesidades */
    max-width: 650px; /* Ajusta el tamaño máximo según tus necesidades */
  }
}

@media (max-width: 599px) {
  #columnas > * {
    flex: 1 1 100%; /* 1 columna */
  }

  #card-botones {
    width:fit-content;
    flex-basis: 1 1 100%;
  }

  #columnas-cv1 {
    flex-basis: 100%;
    min-width: 250px; /* Ajusta el tamaño mínimo según tus necesidades */
    max-width: 400px; /* Ajusta el tamaño máximo según tus necesidades */
  }

  #columnas-cv2 {
    width:fit-content;
    flex-basis: 1 1 100%;
    flex-basis: 100%;
    min-width: 220px; /* Ajusta el tamaño mínimo según tus necesidades */
    max-width: 650px; /* Ajusta el tamaño máximo según tus necesidades */
  }
}

@media (max-width: 350px) {
  #columnas > * {
    flex: 1 1 100%; /* 1 columna */
  }

  #card-botones {
    width:fit-content;
    flex-basis: 1 1 100%;
  }

  #columnas-cv1 {
    flex-basis: 100%;
    min-width: 250px; /* Ajusta el tamaño mínimo según tus necesidades */
    max-width: 350px; /* Ajusta el tamaño máximo según tus necesidades */
  }

  #columnas-cv2 {
    width:fit-content;
    flex-basis: 1 1 100%;
    flex-basis: 100%;
    min-width: 220px; /* Ajusta el tamaño mínimo según tus necesidades */
    max-width: 650px; /* Ajusta el tamaño máximo según tus necesidades */
  }
}