/* AREA DE CHAT */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.floating-button {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 800;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

#btn_chatbot {
  font-size: 14pt;
  font-weight: bold;
  color: #7a02aa;
  background-color: rgb(0, 0, 0);
  background-image: url("../img/index/patron-am3-final.jpg");
  background-repeat: repeat;
}

btn_chatbot:hover {
  color: #610574;
}

.btn-close {
  background-color: #e6a822;
}

.offcanvas {
  z-index: 900;
}

.offcanvas-header {
  background-color: #68057c;
}

.neon {
  font-family: "Arial", sans-serif;
  font-size: 3em;
  color: rgba(195, 0, 255, 0.884); /* Verde neón */
  text-shadow: 0 0 5px rgba(195, 0, 255, 0.884), 0 0 10px rgba(195, 0, 255, 0.884),
    0 0 20px rgba(195, 0, 255, 0.884), 0 0 40px rgba(195, 0, 255, 0.884), 0 0 80px rgba(195, 0, 255, 0.884),
    0 0 90px rgba(195, 0, 255, 0.884), 0 0 100px rgba(195, 0, 255, 0.884), 0 0 150px rgba(195, 0, 255, 0.884);
  animation: neon-animation 1.5s infinite alternate-reverse,
    flicker 1s infinite alternate;
}

@keyframes neon-animation {
  0% {
    text-shadow: 0 0 5px rgba(195, 0, 255, 0.884), 0 0 10px rgba(195, 0, 255, 0.884),
      0 0 20px rgba(195, 0, 255, 0.884), 0 0 40px rgba(195, 0, 255, 0.884), 0 0 80px rgba(195, 0, 255, 0.884),
      0 0 90px rgba(195, 0, 255, 0.884), 0 0 100px rgba(195, 0, 255, 0.884),
      0 0 150px rgba(195, 0, 255, 0.884);
  }
  100% {
    text-shadow: 0 0 10px rgba(195, 0, 255, 0.884), 0 0 20px rgba(195, 0, 255, 0.884),
      0 0 30px rgba(195, 0, 255, 0.884), 0 0 40px rgba(195, 0, 255, 0.884), 0 0 50px rgba(195, 0, 255, 0.884),
      0 0 60px rgba(195, 0, 255, 0.884), 0 0 70px rgba(195, 0, 255, 0.884), 0 0 80px rgba(195, 0, 255, 0.884);
  }
}

.cuerpoofcanvachat {
  width: 70%;
  background-color: rgb(157, 157, 157);
  overflow-y: scroll;
  padding-top: 0.4rem;
  background-image: url("../img/index/patron-am6-final.jpg");
  background-repeat: repeat;
}

#chatbody {
  background-color: rgb(129, 129, 129);
  background-image: url("../img/index/patron-am7-final.jpg");
  background-repeat: repeat;
}

.offcanvas-header {
  background-color: rgb(255, 255, 255);
  /* overflow-y: scroll; */
  background-image: url("../img/index/patron-am7-final.jpg");
  background-repeat: repeat;
}

#contenedor_chat {
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.257);
  overflow-y: scroll;
  padding-top: 0.4rem;
  background-image: url("../img/index/patron-am8-final.jpg");
  background-repeat: repeat;
}

#chat-messages {
  line-height: 1.5;
  font-size: 0.8rem;
  font-weight: bold;
}

#mensajes-sistema {
  height: 3vh;
  line-height: 1.5;
  font-size: 0.8rem;
  font-weight: bold;
}

.alert.alert-warning {
  background-color: #aaffa2;
  display: flex;
  justify-content: flex-end;
  color: black;
  min-height: auto;
  word-wrap: break-word;
}

.alert.alert-primary {
  min-height: auto;
  word-wrap: break-word;
}

@media screen and (max-width: 420px) {
  
  .cuerpoofcanvachat {
    height: 95vh;
    width: 90%;
    background-color: rgb(157, 157, 157);
    overflow-y: scroll;
    padding-top: 0.4rem;
    background-image: url("../img/index/patron-am6-final.jpg");
    background-repeat: repeat;
  }

  .cuerpoofcanvachat {
    height: 80vh;
  }

  #contenedor_chat {
    height: 35vh;
    background-color: rgba(255, 255, 255, 0.257);
    overflow-y: scroll;
    padding-top: 0.4rem;
    background-image: url("../img/index/patron-am8-final.jpg");
    background-repeat: repeat;
  }
}

@media (max-width: 250px) {
  #contenedor_chat {
    height: 35vh;
    background-color: rgba(255, 255, 255, 0.257);
    overflow-y: scroll;
    padding-top: 0.4rem;
    background-image: url("../img/index/patron-am8-final.jpg.jpg");
    background-repeat: repeat;
  }
}


@media screen and (max-height: 420px) and (orientation: landscape) {
  
  .cuerpoofcanvachat {
    width: 80%;
    background-color: rgb(157, 157, 157);
    overflow-y: scroll;
    padding-top: 0.4rem;
    background-image: url("../img/index/patron-am6-final.jpg");
    background-repeat: repeat;
  }

  .offcanvas-header {
    display: none;
  }

  #contenedor_chat {
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.257);
    overflow-y: scroll;
    padding-top: 0.4rem;
    background-image: url("../img/index/patron-am8-final.jpg");
    background-repeat: repeat;
  }

}
/* FIN AREA DE CHAT */

/* CARDS COMO PPT */
.fondo-oscuro-gauss {
  background-image: url("../img/index/patron-am3-final.jpg");
  background-repeat: repeat;
  background-size: 700px 700px;
}
/* FIN CARDS COMO PPT */

.ultra-wide-container {
  width: 100%;
  padding-top: 40%; /* Esto da una relación de aspecto 21:9 */
  position: relative;
  overflow: hidden;
}

.ultra-wide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background-image: url("../img/index/patron-am17-final.jpg");
  background-repeat: repeat;
}

.card {
  background-color: #000;
  border: 1px  hwb(0 100% 0%);
}

.alinear-items{
  align-items: center;
}

#carouselMedbot {
  width: 12rem;
  height: 100%;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
}

.columnas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.columnas > * {
  flex: 1 1 calc(50% - 1rem); /* 2 columnas */
  margin: 0.5rem;
}

#presentacion {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 70vh; /* Full height of the viewport */
  overflow-y: auto;
  background-image: url("../img/index/patron-am-final.jpg");
  background-repeat: repeat;
}

.bg-acercade {
  background-color: #5b046e;
  color: #ffffff;
  font-size: small;
}

.perfil{
  min-width: 65%;
  max-width: 70%;
}

.columnas-cv1{
  background-color: transparent;
}

.job-title {
  font-weight: bold;
  margin-top: 0.5em;
  color: #2980b9;
}
.company-name {
  font-weight: bold;
  color: #e67e22;
}
.responsibilities {
  margin-left: 20px;
}

.institution {
  font-weight: bold;
  color: #e67e22;
}
.degree {
  font-weight: bold;
  margin-top: 0.5em;
  color: #2980b9;
}
.education-details {
  margin-left: 20px;
}

.skill-category {
  font-weight: bold;
  color: #2980b9;
}

.skills-list {
  margin-left: 20px;
  list-style-type: none;
  padding: 0;
}

.hobbies-list {
  margin-left: 20px;
  list-style-type: none;
  padding: 0;
}

.columnas-cv2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.columnas-cv2 > * {
  flex: 1 1 calc(50% - 1rem); /* 2 columnas */
  margin: 0.5rem;
}

/* Estilos para pantallas medianas y pequeñas (1 columna) */
@media (max-width: 1080px) {
  .columnas-cv2 {
    width:fit-content;
    flex-basis: 1 1 100%;
    flex-basis: 100%;
    min-width: 300px; /* Ajusta el tamaño mínimo según tus necesidades */
    max-width: 650px; /* Ajusta el tamaño máximo según tus necesidades */
  }
}


@media (max-width: 765px) {
  .columnas > * {
    flex: 1 1 100%; /* 1 columna */
  }

  #card-botones {
    width:fit-content;
    flex-basis: 1 1 100%;
  }

  .columnas-cv1 {
    flex-basis: 100%;
    min-width: 250px; /* Ajusta el tamaño mínimo según tus necesidades */
    max-width: 650px; /* Ajusta el tamaño máximo según tus necesidades */
  }

  .columnas-cv2 {
    width:fit-content;
    flex-basis: 1 1 100%;
    flex-basis: 100%;
    min-width: 330px; /* Ajusta el tamaño mínimo según tus necesidades */
    max-width: 650px; /* Ajusta el tamaño máximo según tus necesidades */
  }
}

@media (max-width: 599px) {
  .columnas > * {
    flex: 1 1 100%; /* 1 columna */
  }

  #card-botones {
    width:fit-content;
    flex-basis: 1 1 100%;
  }

  .columnas-cv1 {
    flex-basis: 100%;
    min-width: 250px; /* Ajusta el tamaño mínimo según tus necesidades */
    max-width: 500px; /* Ajusta el tamaño máximo según tus necesidades */
  }

  .columnas-cv2 {
    width:fit-content;
    flex-basis: 1 1 100%;
    flex-basis: 100%;
    min-width: 220px; /* Ajusta el tamaño mínimo según tus necesidades */
    max-width: 650px; /* Ajusta el tamaño máximo según tus necesidades */
  }
}

@media (max-width: 350px) {
  .columnas > * {
    flex: 1 1 100%; /* 1 columna */
  }

  #card-botones {
    width:fit-content;
    flex-basis: 1 1 100%;
  }

  .columnas-cv1 {
    flex-basis: 100%;
    min-width: 250px; /* Ajusta el tamaño mínimo según tus necesidades */
    max-width: 350px; /* Ajusta el tamaño máximo según tus necesidades */
  }

  .columnas-cv2 {
    width:fit-content;
    flex-basis: 1 1 100%;
    flex-basis: 100%;
    min-width: 220px; /* Ajusta el tamaño mínimo según tus necesidades */
    max-width: 650px; /* Ajusta el tamaño máximo según tus necesidades */
  }
}